* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1D3E53;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav a {
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: #76B7D0;
}

.btn {
    background-color: #476D7C;
    background: linear-gradient(to right, #77ABB7, #476D7C);
    padding: 5px 20px;
    border-radius: 10px;
}

.short-intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.short-intro img {
    height: 450px;
    border: 8px solid #77ABB7;
    border-radius: 10px;
    padding: 15px;
}

.short-intro h3 {
    color: #5F95AA;
    font-size: 25px;
    letter-spacing: 2px;
}

.short-intro h1 {
    color: #FFE052;
    font-family: 'Bree Serif', serif;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 6px;
}

.short-intro p {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.portofolio {
    color: white;
}

.sub-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #FFE052;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 180px auto 100px;
}

.portofolio-btn {
    display: flex;
    justify-content: center;
}

.portofolio-btn>.btn {
    border: none;
    color: white;
    width: 160px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

.content-portofolio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px auto;
    letter-spacing: 2px;
    gap: 20%;
}

.content-portofolio h2 {
    font-weight: 300;
    font-size: 30px;
}

.content-portofolio h3 {
    font-weight: 600;
    font-size: 25px;
    color: #77ABB7;
    margin: 10px 0;
}

.content-portofolio p, .content-portofolio a {
    font-size: 20px;
}

.content-portofolio a div {
    color: #FFE052;
    text-decoration: underline;
    margin-top: 40px;
}

.content-portofolio img {
    width: 35%;
    border-radius: 10px;
}

.even-content>div {
    order: 1;
    text-align: end;
}

.experience-list {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.experience-list img {
    width: 150px;
}

.experience-list p {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}

footer {
    color: white;
    background: #76B7D0 linear-gradient(to right, #206681, #77ABB7);
    border-radius: 100px 100px 0 0;
}

.title-footer {
    color: white;
    padding: 60px 0;
    margin-bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.text-footer>h3{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.text-footer p, .text-footer span {
    font-size: 20px;
    letter-spacing: 2px;
}

.text-footer span {
    margin-left: 10px;
}

.list-footer li {
    margin: 35px 0;
}

.logo-footer {
    background-color: #254B62;
    padding: 15px;
    font-size: 25px;
    border-radius: 15px;
}

.form-footer {
    background: #476D7C linear-gradient(to right bottom, #77ABB7, #206681);
    padding: 30px 20px;
    border-radius: 20px;
    width: 25%;
}

.form-footer>button {
    height: 50px;
    width: 50%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    background-color: #254B62;
    color: white;
}

.form-message {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-message input {
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    background-color: #254B62;
}

.form-message input::placeholder, .form-message textarea::placeholder {
    color: white;
}

.form-message textarea {
    background-color: #254B62;
    border-radius: 10px;
    border: none;
    padding: 10px 20px 0;
}

footer>hr {
    width: 80%;
    color: white;
    margin: 0 auto;
}

footer>p {
    text-align: center;
    padding: 20px 0 50px;
}